* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #cad3d3;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: grey;
  text-align: center;
}

.column {
  width: 286px;
  min-width: 250px;
  height: 635px;
  background-color: white;
  margin: 40px 16px;
}

.row {
  margin: 0% 18.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 0px 100px 0px;
}

.round {
  background-color: white;
  width: 105px;
  height: 105px;
  border-radius: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  z-index: 100;
}

.rnd2 {
  background-color: black;
}

p.price {
  font-size: 25px;
  padding-top: 25px;
}

.pr1 {
  color: #00bcd4;
}

.pr2 {
  color: rgb(196, 28, 112);
}

.pr3 {
  color: rgb(8, 230, 8);
}

p.price-bottom {
  font-size: 12px;
  font-weight: 600;
}

.image {
  width: 100%;
  height: 224px;
  position: relative;
  margin-top: -105px;
}

.img1 {
  background-image: url('./publics/ocean.png');
  filter: grayscale(40%);
  background-size: 198%;
  background-position: 12% 52%;
}

.img2 {
  background-image: url('./publics/mountain.png');
  filter: grayscale(20%);
  background-size: 173%;
  background-position: 25% 101%;
}

.img3 {
  background-image: url('./publics/forest.png');
  background-size: 117%;
  background-position: 27% 56%;
}

.layer {
  background-color: rgba(88, 80, 165, 0.5);
}

.title {
  color: white;
  font-size: 35px;
  line-height: 224px;
  z-index: 100;
  letter-spacing: 3px;
}

.title-mid {
  color: white;
  transform: translate(0%, 126%);
  overflow: hidden;
}

#mountain {
  font-size: 35px;
  letter-spacing: 3px;
  
}

#mountain-bottom {
  font-size: 11px;
}

.subtitle {
  padding-top: 17px;
}

.subtitle-text {
  font-size: 18px;
  font-weight: 600;
}

.subtitle-text-small {
  font-size: 10px;
}

.content-item {
  height: 42px;
  line-height: 42px;
  font-size: 12px;
  font-weight: 600;
}

.content-item:nth-child(2n + 1) {
  background-color: #f4f6f7;
}

.content {
  padding-top: 20px;
}

.btn {
  background-color: white;
  margin-top: 15%;
  width: 133px;
  height: 41px;
  font-size: 16px;
}

.btn1 {
  border: 1px solid #00bcd4;
  color: #00bcd4;
}

.btn1:hover {
  background-color: #00bcd4;
  color: white;
  border: none;
}

.btn2 {
  border: 1px solid #6c136f;
  color: #6c136f;

}

.btn2:hover {
  background-color: #6c136f;
  color: white;
  border: none;
}

.btn3 {
  border: 1px solid rgb(8, 230, 8);
  color: rgb(8, 230, 8);
}

.btn3:hover {
  background-color: rgb(8, 230, 8);
  color: white;
  border: none;
}

.new {
  transform: translate(-45%, -90%);
  position: relative;
}

.new-alt {
  font-size: 15px;
  color: white;
  transform: translate(0%, -215%);
}
