@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('./fonts/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('./fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-light';
  src: url('./fonts/Montserrat-ExtraLight.ttf');
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #cad3d3;
  font-family: 'SourceSansPro-Regular';
  color: #919ca5;
  text-align: center;
}

.column {
  width: 360px;
  min-width: 300px;
  background-color: white;
  margin: 40px 20px;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 0px 100px 0px;
}

.round {
  background-color: white;
  width: 122px;
  height: 122px;
  border-radius: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 100;
}

.rnd2 {
  background-color: black;
}

.price {
  font-size: 32px;
  font-family: 'SourceSansPro-Light';
  padding-top: 30px;
}

.pr1 {
  color: #00bcd4;
}

.pr2 {
  color: rgb(196, 28, 112);
}

.pr3 {
  color: rgb(8, 230, 8);
}

p.price-bottom {
  font-size: 16px;
}

.image {
  padding-bottom: 75%;
  position: relative;
}

.img1 {
  background-image: url('./publics/ocean.png');
  filter: grayscale(40%);
  background-size: 166%;
  background-position: 14% 55%;
}

.img2 {
  background-image: url('./publics/mountain.png');
  filter: grayscale(20%);
  background-size: 173%;
  background-position: 25% 101%;
}

.img3 {
  background-image: url('./publics/forest.png');
  background-size: 120%;
  background-position: 15%;
}

.layer {
  background-color: rgba(88, 80, 165, 0.5);
  height: 100%;
    width: 100%;
    top: 0;
    position: absolute;

}

.title {
  color: white;
  font-size: 36px;
  font-family: 'Montserrat-light';
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  z-index: 100;
  letter-spacing: 2px;
  position: absolute;
}

.title-mid {
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#mountain {
  font-size: 36px;
  font-family: 'Montserrat-light';
  letter-spacing: 2px;
  
}

#mountain-bottom {
  font-size: 14px;
}

.subtitle {
  padding-top: 25px;
  padding-bottom: 25px;
}

.subtitle-text {
  font-size: 24px;
  font-family: 'SourceSansPro-Light';
  font-weight: 600;
}

.subtitle-text-small {
  font-size: 14px;
  color: #adb9c3;
}

.content-item {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
}

.content-item:nth-child(2n + 1) {
  background-color: #f4f6f7;
}

.btn {
  background-color: white;
  width: 170px;
  height: 50px;
  font-size: 19px;
  font-family: 'Montserrat-light';
  font-weight: 600;
  margin: 50px 100px 50px 100px;
}

.btn1 {
  border: 1px solid #00bcd4;
  color: #00bcd4;
}

.btn1:hover {
  background-color: #00bcd4;
  color: white;
  border: none;
}

.btn2 {
  border: 1px solid #6c136f;
  color: #6c136f;

}

.btn2:hover {
  background-color: #6c136f;
  color: white;
  border: none;
}

.btn3 {
  border: 1px solid rgb(8, 230, 8);
  color: rgb(8, 230, 8);
}

.btn3:hover {
  background-color: rgb(8, 230, 8);
  color: white;
  border: none;
}

.new {
  transform: translate(-30%, -20%);
  position: absolute;
}

.new-alt {
  font-size: 12px;
  font-family: 'Montserrat-Bold';
  color: white;
  transform: translate(0%, -290%);
}
